/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ca9af7;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #f8e9a1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos da Seção de Produtos */
#produtos {
    padding: 20px;
    text-align: center;
}

.produto {
    display: inline-block;
    margin: 20px;
    text-align:flex;
}

.produto img {
    max-width: 20%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.preco {
    font-weight: bold;
    color: #8d81ff;
}

button {
    background-color:#8d81ff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilos da Seção de Pagamento */
#pagamento {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Estilos do Rodapé */
footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}
.qrcode {
    max-width: 10%;
}
.alinhamento {
 display: flex;
}

.fixedfooter {
    width: 100%;
    position: fixed;
    left: 0;
    bottom:0 ;
}